/* based on Bootstrap Grid System */
/* Root Variables */
:root {
    --border-color: #726f71;
    --background-color: #1f2021;
    --main-color: #19c8fa;
    --transparent-background: #19c8fa66; /* Converted From (rgba) Into (hex) */
    --overlay-background: #00000080; /* Converted From (rgba) Into (hex) */
    --transition-duration: 0.5s;
    --space-16: 16px; --space-32: 32px; --space-64: 64px; --space-80: 80px; --space-96: 96px;
    --font-light: 300; --font-regular: 400; --font-semiBold: 600; --font-bold: 700;
}
/* *************** xs: extra small devices (phones) ******************* */
@media only screen and (max-width: 768px) {
    /* ********* Global ********* */
    /* Section Paragraph */
    .section__paragraph { width: 100%; }
    /* ********* Heading ********* */
    /* Menu Icon */
    header .menu__icon { display: inline-flex; }
    /* Sections Items */
    header ul {
        display: none;
        background-color: var(--overlay-background);
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    /* Sections Links */
    header ul a { margin: 8px var(--space-64); padding: 8px 16px; }
    /* Menu Icon Hover Effect */
    header .menu__icon:hover + ul,
    header ul:hover { display: flex; }
    /* Sections Links Hover Effect */
    header ul a:hover,
    header ul a.active { border-color: transparent transparent transparent var(--main-color); }
    /* ********* Landing ********* */
    /* Main Container */
    #landing .text__container { width: 100%; padding: var(--space-32) var(--space-80); }
    /* Main Title */
    #landing .content h2 { font-size: 14pt; }
    /* Main Paragraph */
    #landing .content p { font-size: 12pt; }
    /* ********* Services ********* */
    /* Services Container */
    #services .services__container { grid-template-columns: repeat(1, minmax(300px, 1fr)); grid-template-rows: repeat(4, minmax(120px, 1fr)); }
    /* Single Service Card */
    #services .card { flex-direction: column; align-items: center; }
    /* Single Service Card Text Container */
    #services .card .content { width: 100%; text-align: center; }
    /* Service Title */
    #services .card__title { padding-top: var(--space-32); padding-bottom: var(--space-16); width: 100%; }
    /* ********* Design ********* */
    #design { height: 450px; }
    /* Main Design Image */
    #design img { display: none; }
    /* Text Container */
    #design .text__container { width: 100%; padding: var(--space-32) var(--space-80); }
    /* Main Design Title */
    #design .text__container h3 { font-size: 14pt; }
    /* Main Design Features List */
    #design .text__container ul { font-size: 12pt; }
    /* ********* Portfolio ********* */
    /* Projects List */
    #portfolio .projects {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: repeat(4, minmax(250px, 1fr));
    }
    /* Project Title */
    #portfolio .projects .title { font-size: 16pt; }
    /* Project Type */
    #portfolio .projects .type { font-size: 13pt; }
    /* ********* Video ********* */
    /* Main Text Title */
    #video .text__container h3 { font-size: 18pt; }
    /* ********* About ********* */
    /* Main Image */
    #about img { bottom: -70px; margin-top: -70px; }
    /* ********* Statistics ********* */
    /* Single Statistics Item */
    #statistics ul li { flex-basis: 100%; margin: 24px 0; }
    /* ********* Skills ********* */
    /* Main Container For Testimonials And Skills */
    #skills .container article { flex-basis: 100%; }
    /* ********* Skills: Testimonials ********* */
    /* Main Testimonials Container */
    #testimonials { margin-bottom: 64px; }
    /* Single Testimonial Container */
    #testimonials ul.quotes__container li { flex-direction: column; }
    /* Testimonial Text Container */
    #testimonials .text__container { margin-left: 0; margin-top: 16px; text-align: center; }
    /* ********* Quote ********* */
    /* Main Quote */
    #quote .paragraph { font-size: 14pt; }
    /* Quote Icons */
    #quote .paragraph::before,
    #quote .paragraph::after { top: -10px; }
    /* Main Name */
    #quote .name { font-size: 12pt; }
    /* ********* Pricing ********* */
    /* Single Plan Container */
    #pricing .plans > li { flex-basis: 100%; }
    #pricing .plans > li:not(:last-child) { margin-bottom: 64px; }
    /* ********* Subscribe ********* */
    /* Form Input Container */
    #subscribe .input__container { flex-basis: 100%; }
    /* Main Paragraph */
    #subscribe p {margin-top: 32px; flex-basis: 100%; text-align: center; }
}
/* ***************** sm: small devices (tablets) ********************** */
@media only screen and (min-width: 768px) {
    /* ********* Heading ********* */
    /* Menu Icon */
    header .menu__icon { display: inline-flex; }
    /* Sections Items */
    header ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    /* Sections Links */
    header ul a { margin: 8px var(--space-64); padding: 8px 16px; }
    /* Menu Icon Hover Effect */
    .menu__icon:hover + ul,
    header ul:hover { display: flex; }
    /* Sections Links Hover Effect */
    header ul a:hover,
    header ul a.active { border-color: transparent transparent transparent var(--main-color); }
    /* ********* Landing ********* */
    /* Main Container */
    #landing .text__container { width: 100%; padding: calc(var(--space-80) / 4) var(--space-96); }
    /* Main Title */
    #landing .content h2 { font-size: 24pt; }
    /* ********* Services ********* */
    /* Services Container */
    #services .services__container { grid-template-columns: repeat(2, minmax(300px, 1fr)); grid-template-rows: repeat(2, minmax(120px, 1fr)); }
    /* Single Service Card */
    #services .card { flex-direction: column; align-items: center; }
    /* Single Service Card Text Container */
    #services .card .content { width: 100%; text-align: center; }
    /* Service Title */
    #services .card__title { padding-top: var(--space-32); padding-bottom: var(--space-16); width: 100%; }
    /* ********* Design ********* */
    #design { height: 550px; }
    /* Main Design Image */
    #design img { display: none; }
    /* Text Container */
    #design .text__container { width: 100%; padding: var(--space-32) var(--space-80); }
    /* Main Design Title */
    #design .text__container h3 { font-size: 20pt; }
    /* Main Design Features List */
    #design .text__container ul { font-size: 16pt; }
    /* ********* Portfolio ********* */
    /* Projects List */
    #portfolio .projects {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-template-rows: repeat(3, minmax(250px, 1fr));
    }
    /* ********* Statistics ********* */
    /* Single Statistics Item */
    #statistics ul li { flex-basis: 50%; margin: 24px 0; }
    /* ********* Skills ********* */
    /* Main Container For Testimonials And Skills */
    #skills .container article { flex-basis: 100%; }
    /* ********* Skills: Testimonials ********* */
    /* Main Testimonials Container */
    #testimonials { margin-bottom: 64px; }
    /* Single Testimonial Container */
    #testimonials ul.quotes__container li { flex-direction: row; }
    /* Testimonial Text Container */
    #testimonials .text__container { margin-left: 64px; margin-top: 0; text-align: start; }
    /* ********* Pricing ********* */
    /* Single Plan Container */
    #pricing .plans > li { flex-basis: 45%; }
    #pricing .plans > li:nth-child(1),
    #pricing .plans > li:nth-child(2) { margin-bottom: 64px; }
    /* ********* Subscribe ********* */
    /* Form Input Container */
    #subscribe .input__container { flex-basis: 100%; }
    /* Main Paragraph */
    #subscribe p {margin-top: 32px; flex-basis: 100%; text-align: center; }
}
/* ************** md: medium devices (small laptops) ****************** */
@media only screen and (min-width: 992px) {
    /* ********* Heading ********* */
    /* Menu Icon */
    header .menu__icon { display: none; }
    /* Sections Items */
    header ul {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* Sections Links */
    header ul a { margin: 0 8px; padding: 32px 0; }
    /* Sections Links Hover Effect */
    header ul a:hover,
    header ul a.active { border-color: transparent transparent var(--main-color) transparent; }
    /* ********* Landing ********* */
    /* Main Container */
    #landing .text__container { width: 60%; padding: calc(var(--space-80) / 4); padding-left: var(--space-80); }
    /* ********* Services ********* */
    /* Single Service Card */
    #services .card { flex-direction: row; align-items: flex-start; }
    /* Single Service Card Text Container */
    #services .card .content { width: 75%; text-align: start; }
    /* Service Title */
    #services .card__title { padding-top: 0; }
    /* ********* Design ********* */
    #design { height: 600px; }
    /* Main Design Image */
    #design img { display: block; }
    /* Text Container */
    #design .text__container { width: 55%; padding: calc(var(--space-80) / 2); padding-right: var(--space-80); }
    /* ********* Portfolio ********* */
    /* Projects List */
    #portfolio .projects {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
        grid-template-rows: repeat(2, minmax(250px, 1fr));
    }
    /* ********* Statistics ********* */
    /* Single Statistics Item */
    #statistics ul li { flex-basis: 25%; }
    /* ********* Skills ********* */
    /* Main Container For Testimonials And Skills */
    #skills .container article { flex-basis: 45%; }
    /* ********* Skills: Testimonials ********* */
    /* Main Testimonials Container */
    #testimonials { margin-bottom: 0; }
    /* Single Testimonial Container */
    #testimonials ul.quotes__container li { flex-direction: column; }
    /* Testimonial Text Container */
    #testimonials .text__container { margin-left: 0; margin-top: 16px; text-align: center; }
    /* ********* Subscribe ********* */
    /* Main Container */
    #subscribe .container { justify-content: space-between; }
    /* Form Input Container */
    #subscribe .input__container { flex-basis: 50%; }
    /* Main Paragraph */
    #subscribe p {margin-top: 0; flex-basis: 45%; text-align: start; }
}
/* ************ lg: large devices (laptops and desktops) ************** */
@media only screen and (min-width: 1200px) {
    /* ********* Landing ********* */
    /* Main Title */
    #landing .content h2 { font-size: 30pt; }
    /* ********* Design ********* */
    /* Text Container */
    #design .text__container { width: 60%; }
    /* ********* Skills ********* */
    /* Main Container For Testimonials And Skills */
    #skills .container article { flex-basis: 45%; }
    /* ********* Skills: Testimonials ********* */
    /* Main Testimonials Container */
    #testimonials { margin-bottom: 0; }
    /* Single Testimonial Container */
    #testimonials ul.quotes__container li { flex-direction: row; }
    /* Testimonial Text Container */
    #testimonials .text__container { margin-left: 64px; margin-top: 0; text-align: start; }
    /* ********* Pricing ********* */
    /* Single Plan Container */
    #pricing .plans > li { flex-basis: 20%; }
    #pricing .plans > li:nth-child(1),
    #pricing .plans > li:nth-child(2) { margin-bottom: 0; }
}
