/* based on Bootstrap Grid System */
/* Root Variables */
:root {
    --border-color: #726f71;
    --background-color: #1f2021;
    --main-color: #19c8fa;
    --transparent-background: #19c8fa66; /* Converted From (rgba) Into (hex) */
    --overlay-background: #00000099; /* Converted From (rgba) Into (hex) */
    --transition-duration: 0.5s;
    --space-16: 16px; --space-32: 32px; --space-64: 64px; --space-80: 80px; --space-96: 96px;
    --font-light: 300; --font-regular: 400; --font-semiBold: 600; --font-bold: 700;
}
/* *************** xs: extra small devices (phones) ******************* */
@media only screen and (max-width: 768px) {
    /* ********* Global ********* */
    /* Section Paragraph */
    .section__paragraph { width: 100%; }
    /* ********* Heading ********* */
    /* Menu Icon */
    header .menu__icon { display: inline-flex; }
    /* Sections Items */
    header ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    /* Sections Links */
    header ul a { margin: 8px var(--space-64); padding: 8px 16px; }
    /* Menu Icon Hover Effect */
    header .menu__icon:hover + ul,
    header ul:hover { display: flex; }
    /* Sections Links Hover Effect */
    header ul a:hover,
    header ul a.active { border-color: transparent transparent transparent var(--main-color); }
    /* ********* Landing ********* */
    /* Main Container */
    #landing .text__container { width: 100%; padding: var(--space-32) var(--space-80); }
    /* Main Title */
    #landing .content h2 { font-size: 14pt; }
    /* Main Paragraph */
    #landing .content p { font-size: 12pt; }
    /* ********* Services ********* */
    /* Services Container */
    #services .services__container { grid-template-columns: repeat(1, minmax(300px, 1fr)); grid-template-rows: repeat(4, minmax(120px, 1fr)); }
    /* Single Service Card */
    #services .card { flex-direction: column; align-items: center; }
    /* Single Service Card Text Container */
    #services .card .content { width: 100%; text-align: center; }
    /* Service Title */
    #services .card__title { padding-top: var(--space-32); padding-bottom: var(--space-16); width: 100%; }
}
/* ***************** sm: small devices (tablets) ********************** */
@media only screen and (min-width: 768px) {
    /* ********* Heading ********* */
    /* Menu Icon */
    header .menu__icon { display: inline-flex; }
    /* Sections Items */
    header ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    /* Sections Links */
    header ul a { margin: 8px var(--space-64); padding: 8px 16px; }
    /* Menu Icon Hover Effect */
    .menu__icon:hover + ul,
    header ul:hover { display: flex; }
    /* Sections Links Hover Effect */
    header ul a:hover,
    header ul a.active { border-color: transparent transparent transparent var(--main-color); }
    /* ********* Landing ********* */
    /* Main Container */
    #landing .text__container { width: 100%; padding: calc(var(--space-80) / 4) var(--space-96); }
    /* Main Title */
    #landing .content h2 { font-size: 24pt; }
    /* ********* Services ********* */
    /* Services Container */
    #services .services__container { grid-template-columns: repeat(2, minmax(300px, 1fr)); grid-template-rows: repeat(2, minmax(120px, 1fr)); }
    /* Single Service Card */
    #services .card { flex-direction: column; align-items: center; }
    /* Single Service Card Text Container */
    #services .card .content { width: 100%; text-align: center; }
    /* Service Title */
    #services .card__title { padding-top: var(--space-32); padding-bottom: var(--space-16); width: 100%; }
}
/* ************** md: medium devices (small laptops) ****************** */
@media only screen and (min-width: 992px) {
    /* ********* Heading ********* */
    /* Menu Icon */
    header .menu__icon { display: none; }
    /* Sections Items */
    header ul {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /* Sections Links */
    header ul a { margin: 0 8px; padding: 32px 0; }
    /* Sections Links Hover Effect */
    header ul a:hover,
    header ul a.active { border-color: transparent transparent var(--main-color) transparent; }
    /* ********* Landing ********* */
    /* Main Container */
    #landing .text__container { width: 60%; padding: calc(var(--space-80) / 4); padding-left: var(--space-80); }
    /* ********* Services ********* */
    /* Single Service Card */
    #services .card { flex-direction: row; align-items: flex-start; }
    /* Single Service Card Text Container */
    #services .card .content { width: 75%; text-align: start; }
    /* Service Title */
    #services .card__title { padding-top: 0; }
}
/* ************ lg: large devices (laptops and desktops) ************** */
@media only screen and (min-width: 1200px) {
    /* ********* Landing ********* */
    /* Main Title */
    #landing .content h2 { font-size: 30pt; }
}
