/*
    Used Google Fonts - Open Sans
    Light: 300, Regular: 400, SemiBold: 600, Bold: 700
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
/* ************************** General Rules *************************** */
/* Root Variables */
:root {
    --border-color: #726f71;
    --background-color: #1f2021;
    --main-color: #19c8fa;
    --transparent-background: #19c8fa66; /* Converted From (rgba) Into (hex) */
    --overlay-background: #00000099; /* Converted From (rgba) Into (hex) */
    --transition-duration: 0.5s;
    --space-16: 16px; --space-32: 32px; --space-64: 64px; --space-80: 80px; --space-96: 96px;
    --font-light: 300; --font-regular: 400; --font-semiBold: 600; --font-bold: 700;
}
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}
html { scroll-behavior: smooth; }
/* Main Container */
.container { padding: 0 var(--space-80); position: relative; }
/* Section Elements */
section { padding: var(--space-64) 0; }
section > .container { padding: 0 var(--space-64); }
/* Overlay Background */
.overlay {
    background-color: var(--overlay-background);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
/* Section Title */
.section__title {
    color: var(--background-color);
    font-size: 30pt;
    font-weight: var(--font-regular);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: var(--space-32);
    margin-bottom: var(--space-32);
    position: relative;
}
/* Section Heading Bottom Shapes: Underline And Small Circle */
.section__title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--background-color);
    background-color: #ffffff;
    z-index: 1;
}
.section__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 120px;
    height: 2px;
    background-color: var(--background-color);
}
/* Section Paragraph */
.section__paragraph {
    color: var(--border-color);
    font-size: 13pt;
    font-weight: var(--font-light);
    text-align: center;
    width: 600px;
    margin: 0 auto var(--space-64);
}
/* ************************** Header *************************** */
/* Page Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:3;
}
/* Header Container */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Bottom Border For Header */
header .container::after {
    content: '';
    background-color: var(--border-color);
    width: calc(100% - 2 * var(--space-80));
    height: 1px;
    position: absolute;
    bottom: 0;
    left: var(--space-80);
    transform: translate(0, 50%);
}
/* Header Navbar */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Menu Icon */
header .menu__icon {
    font-size: 15pt;
    font-weight: var(--font-semiBold);
    margin-right: calc(var(--space-64) / 2);
    padding: calc(var(--space-64) / 2) 0;
    transition: color var(--transition-duration);
    position: relative;
    z-index: 3;
}
/* Sections Items */
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: var(--space-64);
    list-style: none;
    flex: 1;
    z-index: 3;
}
header ul li { width: 100%; }
/* Sections Links */
header ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13pt;
    font-weight: var(--font-semiBold);
    display: inline-block;
    width: 100%;
    border: 1px solid transparent;
    transition-property: color, border-color;
    transition-duration: var(--transition-duration);
}
/* Sections Links Hover Effect */
header ul a:hover,
header ul a.active { color: var(--main-color); }
/* Search Icon */
#search__icon { position: relative; }
#search__icon i {
    padding-left: 24px;
    font-size: 15pt;
    font-weight: var(--font-semiBold);
    transition: color var(--transition-duration);
}
#search__icon i:hover,
header .menu__icon:hover { color: var(--main-color); cursor: pointer; }
/* Side Border For Search Icon */
#search__icon::before {
    content: '';
    background-color: var(--border-color);
    height: calc(100% + 20px);
    width: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
/* ************************** Landing *************************** */
#landing {
    min-height: 100vh;
    background-color: var(--background-color);
    background-image: url('../assets/images/landing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* Main Container */
#landing .text__container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: var(--transparent-background);
    width: 60%;
    padding: calc(var(--space-80) / 4);
    padding-left: var(--space-80);
    z-index: 2;
}
/* Text Container */
#landing .text__container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* Main Title */
#landing .content h2 {
    font-size: 30pt;
    font-weight: var(--font-regular);
    text-transform: uppercase;
    line-height: 1.6;
}
/* Main Paragraph */
#landing .content p {
    font-size: 13pt;
    font-weight: var(--font-regular);
    line-height: 1.6;
    margin-top: var(--space-32);
}
/* Background Changing Arrows */
#landing .left__arrow,
#landing .right__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 24pt;
    font-weight: var(--font-semiBold);
    padding: 0;
    transition: color var(--transition-duration);
    z-index: 2;
}
#landing .left__arrow { padding-left: var(--space-32); left: 0; }
#landing .right__arrow { padding-right: var(--space-32); right: 0; }
/* Arrows Hover Effect */
#landing .left__arrow:hover,
#landing .right__arrow:hover { cursor: pointer; color: var(--main-color); }
/* Dotted Indicator Container */
#landing ul {
    list-style: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    z-index: 2;
}
/* Single Dot Indicator */
#landing ul li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    transition-property: border-color, background-color;
    transition-duration: var(--transition-duration);
    cursor: pointer;
}
/* Dotted Indicator Hover Effect */
#landing ul li.active,
#landing ul li:hover { background-color: var(--main-color); border-color: var(--main-color); }
/* ************************** Services *************************** */
#services * { color: var(--background-color); }
/* Services Container */
#services .services__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: repeat(2, minmax(120px, 1fr));
    gap: 40px 60px;
}
/* Single Service Card */
#services .card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--space-16);
    transition: box-shadow var(--transition-duration);
}
#services .card:hover { box-shadow: 0 0 4px var(--background-color); }
/* Service Icon */
#services .card__icon { font-size: 40pt; }
/* Single Service Card Text Container */
#services .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    height: 100%;
}
/* Service Title */
#services .card__title { color: var(--main-color); font-size: 20pt; font-weight: var(--font-regular); }
/* Service Paragraph */
#services .card__paragraph { color: var(--border-color); font-size: 13pt; font-weight: var(--font-regular); line-height: 1.6; }
/* ************************** Design *************************** */
#design {
    position: relative;
    background-color: var(--background-color);
    background-image: url('../assets/images/design-features.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
/* Main Design Image */
#design img {
    position: relative;
    bottom: -200px;
    z-index: 2;
}
/* Text Container */
#design .text__container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: var(--transparent-background);
    z-index: 2;
}
/* Main Design Title */
#design .text__container h3 {
    font-size: 20pt;
    font-weight: var(--font-regular);
    text-transform: uppercase;
    padding-bottom: var(--space-32)
}
/* Main Design Features List */
#design .text__container ul {
    list-style: none;
    width: 100%;
    text-transform: capitalize;
    font-size: 16pt;
    font-weight: var(--font-regular);
}
/* Single Design Feature */
#design .text__container li { position: relative; padding: var(--space-16) 0 var(--space-16) var(--space-64); }
/* List Icon */
#design .text__container li::before {
    content: '\e163';
    font-family: 'Font Awesome 6 Free';
    font-weight: var(--font-semiBold);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
